.App {
  text-align: center;
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow-x: hidden;
  overflow: hidden;
  font-family: "Fraunces", serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.location{
  position: absolute;
  bottom: 1rem;
  left: 1rem;
  z-index: 2001;
  color: #fff;
  mix-blend-mode: difference;
  width: fit-content;
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 1rem;
}

.blinker{
  height: 1rem;
  width: 1rem;
  border-radius: 50%;
  background-color: red;
  mix-blend-mode: darken;
  position: relative;
  animation: live infinite ease-in 1.5s ;
}

@keyframes live{
  33% {background-color: red;}
  67% {background-color: transparent;}
  100%{background-color: red;}
}

.description{
  position: relative;
  top: 0;
  z-index: 9999;
  background-color: #282c34;
}

.studioName{
  color: #fff;
  mix-blend-mode: difference;
  font-size: 1.5rem;
  position: absolute;
  top: 1rem;
  left: 1rem;
  z-index: 9999;
}